.App
  text-align: center

.content
  display: flex
  flex-wrap: no-wrap
  justify-content: center

.catalog, .bio
  border: 1px solid black
  border-radius: 5px

.catalog
  min-width: 35%
  height: 500px

.bio
  margin-left: 20px
  min-width: 30%
  padding: 5px

.monster-large-image
  width: 300px

@media (max-width: 300px)
  .content
    display: block
  .monster-large-image
    width: 80% 
